
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, shrink-to-fit=no">
  <title>Optical Character Recognition App</title>
<style type="text/css">
        /class selector/
        .btn{
            width:inline;background-color:red;padding:10px;text-align:center;float:left;margin-left:10px;color:white;cursor:pointer;border-radius:10px;text-align: center;
        } 
        .btn:hover{background-color:gold;color:black}/in-build keyword/
    </style>
  <!-- CSS  -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <link href="./static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  
</head>

<body>
  <nav style="background-color: #51BBAD" class="lighten-1"  role="navigation" style="height: 100px">
    <div class="nav-wrapper container">
      <a id="logo-container" class="brand-logo center"><h5>Optical Character Recognition App</h5></a>
     
    </div>
  </nav>


  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <div class="row">
        <form action='/' method="post" class="col s12" enctype="multipart/form-data">
          <div class="row">

            <div class="input-field col s5" style="margin-left: 20px; margin-top: 50px">
              <div class = "row">

                  <div class="row">
                    <label for="first_name"><b>Upload Image</b></label><br>
                    <div class = "file-field input-field">
                      <div class = "btn" >
                        <span>Browse</span>
                        <input type = "file" name="image_upload" id="image_upload" />
                      </div>
                      <div class = "file-path-wrapper">
                        <input class = "file-path validate" type = "text" placeholder = "Uploaded Image" name="image_name" id="image_name" />
                      </div>
                    </div>
                  </div>

                  <div class="row center" style="margin-left: 20px margin-top: 50px">
                    <button id="submit" type="submit" class = "btn" >Extract</button>
                  </div>

                  <div>
                    {% if text %}
                    <br>
                    <h5>Extracted</h5>
                    {% for i in text: %}
                    <p>{{ i }}</p>
                    {% endfor %}
                    {% endif %}
                  </div>

              </div>
            </div>

            <div class="input-field col s3">
              <div style="text-align: center; padding-top: 50px; margin-left: 100px">
                <img src="{{ url_for('static',filename=full_filename) }}" width="500" height="300">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    
  </div>

  </div>
  </div>
  
  <!--  Scripts-->
  <script src="./static/js/materialize.js"></script>
  <script type="text/javascript">
    var imagebox = document.getElementById('imagebox');
    var textbox = document.getElementById('textboxes');

    document.getElementById('image_upload').onchange = function () {
        document.getElementById('image_name').value = this.value.slice(12,100);
    };


  </script>
  <div class="row" >
    <div class="col-md-2" style="background-color: red">
      <div style="text-align:center; margin-top: 150px">
        <font color="#51BBAD">Made by Sehajpreet Kaur
      </div>
    </div>
   </div>
  </body>
</html>
